.flex{
    display: flex;
}
.red-border{
    border: 2px solid red;
}
.green-border{
    border: 2px solid green;
}
.justify-content{
    justify-content: center;
}
.align-items{
    align-items: center;
}
.space-around{
    justify-content: space-around;
}
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: -40px;
}
.flex-direction{
    flex-direction: column;
}